.title {
    font-size: large;
}
.main-content {
    padding: 15px;
    height: calc(100% - 30px - 64px);
}
.main-menu-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 40px;
    .title {
        font-size: 14px;
    }
}
.mat-toolbar.mat-toolbar-single-row {
    padding: 0 7px;
}
@media (max-width: 599px) {
    .main-content {
        height: calc(100% - 30px - 56px);
    }
}
