.form-container {
    .action-toolbar {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin-bottom: 15px;
        .button-delimiter {
            width: 10px;
        }
        .mat-raised-button {
            border-radius: 0;
            flex: 1 1 auto;
        }
    }
    mat-form-field {
        width: 100%;
    }
}
.search-result-container {
    margin-bottom: 20px;
    h3.header {
        width: 100%;
        text-align: left;
        margin-bottom: 0;
    }
    .expense-item:first-of-type {
        border-top: solid black 1px
    }
    .expense-item {
        display: grid;
        grid-template-columns: auto 1fr auto;
        grid-template-rows: 1fr 1fr 1fr;
        border-bottom: solid black 1px;
        padding-top: 2px;
        padding-bottom: 2px;
        .category-icon {
            grid-column: 1;
            grid-row: 1 / 4;
            height: 32px;
            width: 32px;
            margin-top: auto;
            margin-bottom: auto;
            margin-right: 10px;
            border: solid black 1px;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            p {
                font-size: 26px;
            }
        }
        .expense-date {
            margin-top: 3px;
            grid-column: 2;
            grid-row: 1;
            line-height: 14px;
            font-size: 13px;
            font-weight: bold;
            color: #333;
        }
        .person-name {
            grid-column: 2;
            grid-row: 2;
            line-height: 14px;
            font-size: 12px;
            margin-top: 3px;
        }
        .expense-description {
            margin-top: 3px;
            grid-column: 2;
            grid-row: 3;
            line-height: 14px;
            font-size: 12px;
        }
        .expense-amount {
            margin-top: 3px;
            grid-column: 3;
            grid-row: 1 / 3;
            font-size: 16px;
            font-weight: bold;
            color: #444;
        }
        p { margin-bottom: 0px !important; }
    }
}
.category-option {
    display: flex;
    flex-direction: row;
    .color-icon {
        height: 16px;
        width: 16px;
        border: solid black 2px;
        margin: auto 30px;
        margin-left: auto;
    }
}
