<form [formGroup]="form" class="form-container">
    <mat-form-field appearance="standard">
        <mat-label>Начало периода</mat-label>
        <input matInput [matDatepicker]="dateFromPicker" formControlName="dateFrom">
        <mat-hint>ДД.ММ.ГГГГ</mat-hint>
        <mat-datepicker-toggle matSuffix [for]="dateFromPicker"></mat-datepicker-toggle>
        <mat-datepicker #dateFromPicker></mat-datepicker>
    </mat-form-field>

    <mat-form-field appearance="standard">
        <mat-label>Окончание периода</mat-label>
        <input matInput [matDatepicker]="datePickerTo" formControlName="dateTo">
        <mat-hint>ДД.ММ.ГГГГ</mat-hint>
        <mat-datepicker-toggle matSuffix [for]="datePickerTo"></mat-datepicker-toggle>
        <mat-datepicker #datePickerTo></mat-datepicker>
    </mat-form-field>

    <mat-form-field appearance="standard">
        <mat-label>Категории</mat-label>
        <mat-select formControlName="categories" multiple>
            <mat-option *ngFor="let c of categories$ | async" [value]="c.id">
                <div class="category-option">
                    <span>{{ c.name }}</span>
                    <div class="color-icon" [style.background-color] = "c.color | color"></div>
                </div>
            </mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field appearance="standard">
        <mat-label>Пользователи</mat-label>
        <mat-select formControlName="persons" multiple>
            <mat-option *ngFor="let p of persons$ | async" [value]="p.id">
                {{ p.name }}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field appearance="standard">
        <mat-label>Сумма от</mat-label>
        <input matInput formControlName="amountFrom" type="number">
    </mat-form-field>

    <mat-form-field appearance="standard">
        <mat-label>Сумма до</mat-label>
        <input matInput formControlName="amountTo" type="number">
    </mat-form-field>

    <mat-form-field appearance="standard">
        <mat-label>Описание</mat-label>
        <input matInput formControlName="description" [matAutocomplete]="auto">
        <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngFor="let option of descriptions$ | async" [value]="option">
              {{ option }}
            </mat-option>
        </mat-autocomplete>
    </mat-form-field>

    <div class="action-toolbar">
        <button mat-raised-button color="primary" (click)="submit()">Поиск</button>
        <div class="button-delimiter"></div>
        <button mat-raised-button color="primary" (click)="reset()">Сброс</button>
    </div>
</form>
<div class="search-result-container">
    <h3 class="header" *ngIf="expenses && !loading">Результаты поиска</h3>
    <h3 class="header" *ngIf="loading">Поиск расходов...</h3>
    <div class="expense-item" *ngFor="let expense of expenses" mat-ripple (click)="editExpense(expense)">
        <div class="category-icon" [style.background-color] = "expense.category?.color | color">
            <p>{{ expense.category?.name?.charAt(0) }}</p>
        </div>
        <p class="expense-date">{{ expense.date | date:'dd.MM.yyyy' }}</p>
        <p class="person-name">{{ expense.person?.name }}</p>
        <p class="expense-description">{{ expense.description }}</p>
        <p class="expense-amount">{{ expense.amount }}</p>
    </div>
</div>
