<form [formGroup]="form" class="form-container">
    <mat-form-field appearance="standard">
        <mat-label>Дата</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="date">
        <mat-hint>ДД.ММ.ГГГГ</mat-hint>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <mat-form-field appearance="standard">
        <mat-label>Владелец</mat-label>
        <mat-select formControlName="person">
            <mat-option *ngFor="let p of persons" [value]="p.id">
                {{ p.name }}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field appearance="standard">
        <mat-label>Категория</mat-label>
        <mat-select formControlName="category">
            <mat-option *ngFor="let c of categories" [value]="c.id">
                <div class="category-option">
                    <span>{{ c.name }}</span>
                    <div class="color-icon" [style.background-color] = "c.color | color"></div>
                </div>
            </mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field appearance="standard">
        <mat-label>Величина</mat-label>
        <input matInput formControlName="amount" autocomplete="off">
        <div matSuffix aria-label="clear" *ngIf="calculation$ | async; let calculation">
            <p *ngIf="calculation.success">{{ calculation.value }}</p>
            <p *ngIf="!calculation.success && form.get('amount')?.value" class="error">Ошибка</p>
        </div>
    </mat-form-field>

    <mat-form-field appearance="standard">
        <mat-label>Описание</mat-label>
        <input matInput formControlName="description" [matAutocomplete]="auto" autocomplete="off">
        <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngFor="let option of descriptions$ | async" [value]="option">
              {{ option }}
            </mat-option>
        </mat-autocomplete>
    </mat-form-field>

    <div class="bottom-toolbar">
        <button mat-raised-button (click)="submit()" [disabled]="busy && !complete" color="primary">Сохранить</button>
        <div class="button-delimiter"></div>
        <button mat-raised-button (click)="cancel()" [disabled]="busy" color="primary">Отмена</button>
    </div>
</form>
