.form-container {
    margin-bottom: 10px;
    mat-form-field {
        width: 100%;
    }
}
.expense-report-container {
    h3.header {
        width: 100%;
        text-align: left;
        margin-bottom: 0;
    }
    .report-item:first-of-type {
        border-top: solid black 1px
    }
    .report-item {
        display: flex;
        align-items: center;
        border-bottom: solid black 1px;
        padding-top: 5px;
        padding-bottom: 5px;
        .date {
            font-size: 14px;
        }
        .total-amount {
            margin-left: auto;
            font-size: 16px;
            font-weight: bold;
            color: #444;
        }
    }
}
.bottom-action-container {
    position: fixed;
    right: 30px;
    bottom: 30px;
}
