<form [formGroup]="form" *ngIf="form && period" class="form-container">
    <mat-form-field appearance="standard">
        <mat-label>Выбранный период</mat-label>
        <input matInput [matDatepicker]="picker" [formControl]="period">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker startView="year" (monthSelected)="onMonthChanged($event, picker)">

        </mat-datepicker>
    </mat-form-field>
</form>
<div class="expense-report-container">
    <div class="header">
        <p class="name" *ngIf="report && !loading">Отчет за месяц</p>
        <p class="name" *ngIf="loading">Поиск расходов...</p>
        <button mat-icon-button class="small-icon-button-20 add-btn" (click)="addExpense(null)">
            <mat-icon>add_box</mat-icon>
        </button>
    </div>
    <div class="content">
        <div id="report-item-{{i+1}}" class="report-item" *ngFor="let item of report; let i = index;">
            <div class="summary" (click)="onReportItemClick(item)">
                <p class="dayly-item-title">
                    <span>{{ item.date | date:'dd.MM.yyyy' }}</span>
                    <span class="day-of-week" [ngClass]="{'day-off': isDayOff(item.date) }">
                        {{ item.date | date:'(EEEEEE)' | uppercase }}
                    </span>
                </p>
                <p class="total-daily-amount">{{ calculateTotalDaylyExpense(item.expenses) }}</p>
            </div>
            <div class="details" [@detailExpand]="getItemDetailsState(item)">
                <div class="details-header">
                    <p class="title" *ngIf="item.expenses.length > 0">Расходы за день</p>
                    <p class="title" *ngIf="item.expenses.length === 0">Данные отсутствуют</p>
                    <button class="add-btn" mat-raised-button color="primary" (click)="addExpense(item.date)">Создать</button>
                </div>
                <div class="expense-item" *ngFor="let expense of item.expenses">
                    <div class="icon" [style.background-color] = "expense.category?.color | color"></div>
                    <p class="person">{{ expense.person?.name }}</p>
                    <p class="amount">{{ expense.amount }}</p>
                    <p class="description">{{ expense.description }}</p>
                    <button mat-icon-button class="edit-action small-icon-button-20"
                            (click)="editExpense(expense)">
                        <mat-icon>edit</mat-icon>
                    </button>
                    <button mat-icon-button class="delete action small-icon-button-20"
                            (click)="deleteExpense(expense)" color="warn">
                        <mat-icon>delete</mat-icon>
                    </button>
                </div>
            </div>
        </div>
        <div class="report-item">
            <div class="summary">
                <p class="total-monthly-title">Итого</p>
                <p class="total-monthly-amount">{{ calculateTotalMonthlyExpense(report) }}</p>
            </div>
        </div>
    </div>
</div>

