<form [formGroup]="form" *ngIf="form && period" class="form-container">
    <mat-form-field appearance="standard">
        <mat-label>Выбранный период</mat-label>
        <input matInput [matDatepicker]="picker" [formControl]="period">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker startView="multi-year"
                        (monthSelected)="onMonthChanged($event, picker)">

        </mat-datepicker>
    </mat-form-field>
</form>
<div class="expense-report">
    <div class="report-item" *ngFor="let item of report">
        <p class="date">{{ item.date | date:'dd.MM.yyyy' }}</p>
    </div>
</div>
