<div class="report-container" *ngIf="!!categoryReport && categoryReport.length > 0">
    <div class="header">
        <p class="report-title">Отчет по категориям</p>
    </div>
    <div class="content">
        <div class="report-item" *ngFor="let item of categoryReport">
            <div (click)="onCategorySelected(item.category)"
                 [style.background-color] = "item.category?.color | color"
                 class="item-icon" matRipple>
            </div>
            <p class="item-label">{{ item.category?.name }}</p>
            <p class="item-amount">{{ item.total }}</p>
        </div>
        <div class="report-item">
            <p class="total-label">Итого</p>
            <p class="total-amount">{{ calculateTotalMonthyExpense() }}</p>
        </div>
    </div>
</div>
<div class="report-container" *ngIf="!!yearlyReport&& yearlyReport.length > 0">
    <div class="header">
        <p class="report-title">Годовой отчет</p>
    </div>
    <div class="content">
        <div class="report-item" *ngFor="let item of yearlyReport">
            <p class="item-label" matRipple (click)="onMonthSelected(item.month)">
                {{ item.month | month }}
            </p>
            <p class="item-amount">{{ item.total }}</p>
        </div>
        <div class="report-item">
            <p class="total-label">Итого</p>
            <p class="total-amount">{{ calculateTotalYearlyExpense() }}</p>
        </div>
    </div>
</div>
