.report-container {
    .header {
        margin-bottom: 3px;
        .report-title {
            color:#d65d63;
            text-align: left;
            font-weight: bold;
            font-size: 15px;
            margin-bottom: 0;
        }
    }
    .content {
        .report-item {
            display: flex;
            align-items: center;
            border-bottom: solid black 1px;
            padding-top: 5px;
            padding-bottom: 5px;
            &:first-of-type {
                border-top: solid black 1px
            }
            .item-icon {
                height: 15px;
                width: 15px;
                margin-right: 10px;
                border: solid black 1px;
            }
            .item-label {
                font-size: 14px;
            }
            .item-amount, .total-amount {
                margin-left: auto;
                font-size: 16px;
                font-weight: bold;
                color: #444;
            }
            .total-label {
                font-size: 16px;
                font-weight: bold;
                color: #444;
            }
            .total-amount {
                color: #438c43;
            }
        }
    }
    margin-bottom: 20px;
}
