<div>
    <h2>Backups</h2>
    <table mat-table [dataSource]="backups" class="mat-elevation-z8">
        <ng-container matColumnDef="time">
            <th mat-header-cell *matHeaderCellDef>Time</th>
            <td mat-cell *matCellDef="let metadata"> {{metadata.time | date:'dd.MM.yyyy HH:mm:ss'}} </td>
        </ng-container>

        <ng-container matColumnDef="expenses">
            <th mat-header-cell *matHeaderCellDef> Expenses </th>
            <td mat-cell *matCellDef="let metadata"> {{metadata.expenses}} </td>
        </ng-container>

        <ng-container matColumnDef="categories">
            <th mat-header-cell *matHeaderCellDef> Categories </th>
            <td mat-cell *matCellDef="let metadata"> {{metadata.categories}} </td>
        </ng-container>

        <ng-container matColumnDef="persons">
            <th mat-header-cell *matHeaderCellDef> Persons </th>
            <td mat-cell *matCellDef="let metadata"> {{metadata.persons}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="backupColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: backupColumns;"></tr>
    </table>
    <div>
        <button mat-raised-button color="primary" (click)="backupDatabase()">Backup</button>
        <button mat-raised-button color="primary" (click)='fileUpload.click()'>Restore</button>
        <input id="fileUpload" type="file" accept="application/zip" #fileUpload
               [hidden]="true"(change)="restoreDatabase($event.target.files)">
    </div>
</div>
<div>
    <h2>Persons</h2>
    <table mat-table [dataSource]="persons" class="mat-elevation-z8">
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef>Name</th>
            <td mat-cell *matCellDef="let person"> {{person.name}} </td>
        </ng-container>

        <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef></th>
            <td align="right" mat-cell *matCellDef="let person">
                <button mat-icon-button (click)="editPerson(person.id)" color="accent">
                    <mat-icon>edit</mat-icon>
                </button>
                <button mat-icon-button (click)="deletePerson(person.id)" color="accent">
                    <mat-icon>delete</mat-icon>
                </button>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="pesronColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: pesronColumns;"></tr>
    </table>
    <div>
        <button mat-raised-button color="primary" (click)="editPerson(null)">Add</button>
    </div>
</div>
<div>
    <h2>Categories</h2>
    <table mat-table [dataSource]="categories" class="mat-elevation-z8" multiTemplateDataRows>
        <ng-container matColumnDef="color">
            <th mat-header-cell *matHeaderCellDef>Color</th>
            <td mat-cell *matCellDef="let category">
                <div class="rectangle" [style.background-color] = "category.color | color"></div>
            </td>
        </ng-container>

        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef>Name</th>
            <td mat-cell *matCellDef="let category"> {{category.name}} </td>
        </ng-container>

        <ng-container matColumnDef="details">
            <td mat-cell *matCellDef="let category" [attr.colspan]="categoryColumns.length">
                <div class="category-details" [@detailExpand]="category === selectedCategory ? 'expanded' : 'collapsed'">
                    <p>Description: {{category.description}}</p>
                    <p>Obsolete: {{category.obsolete}}</p>
                </div>
            </td>
        </ng-container>

        <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef></th>
            <td align="right" mat-cell *matCellDef="let category">
                <button mat-icon-button (click)="editCategory(category.id)" color="accent">
                    <mat-icon>edit</mat-icon>
                </button>
                <button mat-icon-button (click)="deleteCategory(category.id)" color="accent">
                    <mat-icon>delete</mat-icon>
                </button>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="categoryColumns"></tr>
        <tr mat-row *matRowDef="let category; columns: categoryColumns;" class="category-row"
            (click)="selectedCategory = selectedCategory === category ? null : category"
            [class.category-row-expanded]="selectedCategory === category">
        </tr>
        <tr mat-row *matRowDef="let category; columns: ['details']" class="category-details-row"></tr>
    </table>
    <div>
        <button mat-raised-button color="primary" (click)="editCategory(null)">Add</button>
    </div>
</div>
