table {
    width: 100%;
}
.mat-column-color {
    max-width: 50px;
}
.mat-column-action {
    min-width: 100px;
    max-width: 100px;
    overflow: initial;
    justify-content: right;
}
.rectangle {
    height: 15px;
    width: 35px;
    border: solid black 1px;
}
tr.category-details-row {
    height: 0;
}
.category-row td {
    border-bottom-width: 0;
}
.category-details {
    overflow: hidden;
}
