table {
    width: 100%;
    margin-bottom: 5px;
}
h3 {
    margin: 0;
}
.section {
    padding: 10px;
}
.mat-column-color {
    max-width: 50px;
}
.mat-column-action {
    min-width: 100px;
    max-width: 100px;
    overflow: initial;
    justify-content: right;
}
.mat-raised-button:first-child {
    margin-left: 0;
}
.mat-raised-button {
    margin-left: 5px;
}
.rectangle {
    height: 15px;
    width: 35px;
    border: solid black 1px;
}
tr.category-details-row {
    height: 0;
}
.category-row td {
    border-bottom-width: 0;
}
.category-details {
    overflow: hidden;
}
